.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#121212, #212b46);
}

.title {
    text-transform: uppercase;
    font-size: 80px;
    text-align: center;
    color: #fff;
    animation: flipTitle 2s;
}

@keyframes flipTitle {
    from { transform: rotateX(90deg);} 
    to { transform: rotateX(0deg);}
}

.container-input {
    background-color: rgba(255,255,255, 0.2);
    padding: 15px;
    margin: 34px 0;
    display: flex;
    border-radius: 8px;
    box-shadow: 1px 3px 8px rgba(0,0,0, 0.5);
}

.container-input input {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #fff;
    outline: none;
    margin-right: 8px;
}

.container-input input::placeholder {
    padding-left: 3px;
    color: #fff;
}

.button-search {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.5s;
}

.button-search:hover {
    transform: scale(1.2);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 500px;
    border-radius: 8px;
}

.main h2 {
    margin: 16px 0;
    font-size: 39px;
}

.main span {
    margin-bottom: 16px;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 830px){
    .container .title {
        font-size: 70px;
    }
}

@media screen and (max-width: 700px){
    .container .title {
        font-size: 50px;
    }
}

@media screen and (max-width: 620px) {
    .main {
        width: 80%;
        min-height: 250px;
    }

    .main h2 {
        font-size: 28px;
        text-align: center;
    }
}

@media screen and (max-width: 500px){
    .container .title {
        font-size: 31px;
        padding: 0 10px;
    }
}

@media screen and (max-width: 330px){
    .main {
        padding: 8px;
    }
    .container .title {
        font-size: 27px;
    }
}

@media screen and (max-width: 283px){
    .container .title {
        font-size: 20px;
    }
}